<% content_for :head do %>
  <meta property="og:title"  content="QuietGood" /> 
  <meta property="og:description"  content="QuietGood | Sharing kind words, thoughtful gestures, creative ideas and powerful actions that infuse life with meaning and joy" /> 
<% end %>
<h5 class = "welcome">There’s so much good going on in our world. But good rarely makes headlines or happens with any fanfare. It’s usually more subtle than that. The people generating it are, too.  Their kind words, thoughtful gestures, creative ideas and powerful actions should be celebrated, though, because these are the things that infuse life with meaning and joy.  quiet<b>good</b> is devoted to sharing stories and connecting people.  <em>All in the name of good.</em></h5>
<br>
<br>
<br>
<h5>Want a little more good in your life? <a class = "homemailing" href = "/users/new">Join our Mailing list!</a></h5>
<br>
<br>
<br>
<div class = "tibetancaption"><em>Tibetan prayer flags are used to promote peace, compassion, strength, and wisdom. The Tibetans believe the prayers will be blown by the wind to spread good will and compassion to all.</em></div>
<br>
<br>
<br>
<div class="fb-share-button" data-href="http://quietgood.org/" data-layout="button"></div>

<br>
<br>
