<h5 class = "welcome">Welcome to quiet<b>good</b> an online community to help you discover inspiring people in the real world. We are dedicated to connecting you with others who are choosing to live with purpose</h5>
<br>
<div class = "tibetancaption"><em>Tibetan prayer flags are used to promote peace, compassion, strength, and wisdom. The Tibetans believe the prayers will be blown by the wind to spread good will and compassion to all.</em></div>

