<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('smile.png')%>
      <div class="container">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag('smile.png')%>
    </div>
    <div class="item">
      <%= image_tag('MomPic.jpg')%>
    </div>
    <div class="item">
      <%= image_tag('MomPic.jpg')%>
    </div>
  </div>
</div><!-- /.carousel -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

<!-- 
plaso.co
ecommerce recommendations

tim/cheadletts-api-demo on github

gem 'shopify_api', '~> 3.2.5' lock a version of API always

gem 'redcarpet'
gem 'font-awesome-sass'
gem 'pg'
gem 'active resource' - wrong syntax
gem 'active model' - wrong syntax

.gitignore - dont put passwords in there

figure oiut how to run tests - can find bugs without clicking ojn everything
 -->
