<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1>Welcome to the quiet<b>good</b> mailing list, <%= @user.firstname %></h1>
		<p>You have successfully signed up to receive emails every-so-often about the great things people are doing in this world. </p>

		<p>At any time please feel free to email us with  questions and good things going on!</p>

		<p>To visit quiet<b>good</b> just follow this link: <%= @url %></p>

		<p>Thanks again for joining and hope we can help you be the best you.</p>
	</body>
</html>